@import url("./_header.scss");
@import url("./_home.scss");
@import url("./_products.scss");
@import url("./_product.scss");
@import url("./_services.scss");
@import url("./_blog.scss");
@import url("./_contact.scss");
@import url("./_null.scss");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Oswald";
  background-color: #1a1b20;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 15px;
}

.grido {
  padding-bottom: 50px;
}

@media only screen and (max-width: 992px) {
  .header__body {
    flex-wrap: wrap;
  }
  .header__menu {
    color: #000;
    flex-wrap: wrap;
    padding: 10px 30px;
  }
  .about-top__body {
    flex-wrap: wrap;
  }
  .product__body {
    flex-wrap: wrap;
  }
  .product__right {
    flex-wrap: wrap;
  }
  .menu__itemlist {
    flex-wrap: wrap;
    border-radius: 65px;
  }
  .blog__body {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 472px) {
  .header__logo {
    flex: 0 1 100% !important;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .header__menu {
    flex: 0 1 100%;
  }
  .about-top__left__title {
    font-size: 18px;
  }
  .about-top__right__subtitle {
    font-size: 15px;
  }
  .product__left {
    flex: 0 1 100%;
  }
  .product__right {
    flex: 0 1 100%;
  }
  .product__right__btn {
    font-size: 22px;
  }
  .blog__left {
    flex: 0 1 100%;
    margin-bottom: 20px;
  }
  .blog__columns {
    flex: 0 1 100%;
    justify-content: space-between;
  }
  .blog__col {
    flex: 0 1 48%;
  }
  .blog__col__center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 1 100%;
  }
  .blog__col__center__img {
    width: 31%;
    padding: 10px;
    height: inherit;
    margin: 0 !important;
  }
  .blog__col__img2 {
    width: 120px;
  }
  .awards__columns {
    align-items: unset;
  }
  .awards__col {
    padding: 50px 20px 50px 55px;
  }
  .awards__col__title {
    font-size: 20px;
  }
  .awards__col__subtitle {
    width: 111px;
    font-size: 18px;
  }
  .work__col {
    flex: 0 1 48%;
    margin-bottom: 20px !important;
    padding: 15px 12px !important;
  }
  .toprow__body {
    padding: 12px !important;
  }
  .toprow__left__title {
    font-size: 18px;
  }
  .toprow__right__subtitle {
    font-size: 20px;
  }
  .services-top__left__title {
    font-size: 20px;
  }
  .services-top__right {
    font-size: 15px;
  }
  .services__col {
    padding: 15px;
    flex-wrap: wrap;
  }
  .services__col img {
    width: 100px;
    padding: 25px;
  }
  .services__col__left img {
    margin-bottom: 20px;
  }
  .services__col__right {
    width: 100%;
  }
  .services__col__right__title {
    font-size: 22px;
  }
  .services__col__right__btn {
    width: 100%;
    font-size: 16px;
  }
  .blog__class {
    padding: 16px;
    flex: 1 1 100%;
  }
  .blog__class__img {
    border-radius: 10px 10px 0 0;
  }
  .blog__class__col {
    width: 170px;
    font-size: 20px;
  }
  .blog__class__cols {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */